# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
.venv

.vs/
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
desktop.ini

# UE5
Intermediate/
Binaries/
Saved/
DerivedDataCache/