# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Generated docs
docs/build/

# OS
Thumbs.db
desktop.ini

# UE5
Intermediate/
Binaries/
Saved/
DerivedDataCache/
Build/

#prompts
/META-AUDITOR v1.txt
/Шпаргалка по гиту.txt
/1_AUDITOR.txt
/2_FIXER.txt
/3_ENFORCER.txt
/4_CONTROL AUDIT PROMPT.txt